<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Birds</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-4 py-5 my-5">
        <h3 class="display-5 fw-bold">Birds</h3>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

<th:block layout:fragment="script" th:remove="tag">
<!-- Start of custom script specific to page -->
<script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
<script src="/static/vanta/vanta.birds.min.js" th:src="@{/vanta/vanta.birds.min.js}"></script>
<script>
    VANTA.BIRDS({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
    })
</script>
<!-- End of custom script specific to page -->
</th:block>

</html>