<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Birds</title>
</head>

<body>
    <th:block layout:fragment="body" th:remove="tag">
        <!-- Start of body content specific to page -->
        <div class="px-4 py-5 my-5">
            <h3 class="display-5 fw-bold">Hello this is Daniel testing stuff</h3>
            <br>
    <div style="background-color: white">
        <input id="termvalue1" type="text" placeholder="Enter a name">
        <input id="termvalue2" type="text" placeholder="Enter an age">
        <input id="termvalue3" type="text" placeholder="Enter a grade">
        <button id="enterterm" type="submit" onclick="enterterm()">Enter Value</button>
    
        <table id="mainTable">
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Age </th>
                <th> Grade </th>
            </tr>
    
    
        </table>
    
        <br>
    
        ### Raw JSON Output
    
        <div id="rawJSON"></div>
    
    </div>
    
    
        <script>
    
            // Get each box for the dictionary
            var iBox = document.getElementById("termvalue1");
            var jBox = document.getElementById("termvalue2");
            var kBox = document.getElementById("termvalue3");
            var mainTable = document.getElementById("mainTable");
            var rawTable = document.getElementById("rawJSON");
    
            // Add enter key event listeners
            iBox.addEventListener('keyup', function(event) {
    
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("enterterm").click();
                }
            });
            jBox.addEventListener('keyup', function(event) {
    
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("enterterm").click();
                }
            });
            kBox.addEventListener('keyup', function(event) {
    
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("enterterm").click();
                }
            });
    
    
            var counter = 0
            
            var iBody = []
    
            var list = "";
    
            function enterterm() {
                    // Set values the first time an input happens
                    var tempBody = {id: counter, name: iBox.value, age: jBox.value, grade: kBox.value};
                    counter++;
                    iBody.push(tempBody);
                    appendTable(tempBody);
                    jsonval = JSON.stringify(iBody);
                    rawTable.innerHTML = jsonval;
                }
    
            function appendTable(row) {
                var trdiv = document.createElement("tr");
                var td1 = document.createElement("td"); td1.innerHTML = row["id"]; trdiv.appendChild(td1);
                var td2 = document.createElement("td"); td2.innerHTML = row["name"]; trdiv.appendChild(td2);
                var td3 = document.createElement("td"); td3.innerHTML = row["age"]; trdiv.appendChild(td3);
                var td4 = document.createElement("td"); td4.innerHTML = row["grade"]; trdiv.appendChild(td4);
    
                mainTable.appendChild(trdiv);
            }
    
        </script>
            </div>
            <!-- End of body content specific to page -->
        </th:block>
        </body>
    
        <th:block layout:fragment="script" th:remove="tag">
        <!-- Start of custom script specific to page -->
        <script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
        <script src="/static/vanta/vanta.birds.min.js" th:src="@{/vanta/vanta.birds.min.js}"></script>
        <script>
            VANTA.BIRDS({
                el: "body",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00
            })
        </script>
    <!-- End of custom script specific to page -->
    </th:block>

</html>