<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
  <title>Greet</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="px-4 py-5 my-5">
    <h3 class="display-5 fw-bold">Type a Greeting</h3>

    <form action="/greet" method="GET" id="greetForm">
      <div>
        <label for="greetField">To whom?</label>
        <input name="name" id="greetField">
        <button>Greetings!</button>
        <p th:text="'Greetings, ' + ${name} + '!'"></p>
      </div>
    </form>
  </div>
  <!-- End of body content specific to page -->
</th:block>
</body>

</html>